/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

#back-button .toolbarbutton-icon {
  list-style-image: url("res/Back.ico");
  padding: 0px !important;
}

#back-button:hover:not([disabled]) .toolbarbutton-icon {
  list-style-image: url("res/Hover/Back.ico") !important;
}

#back-button[disabled] .toolbarbutton-icon {
  list-style-image: url("res/Disabled/Back.ico") !important;
}

#forward-button .toolbarbutton-icon {
  list-style-image: url("res/Forward.ico");
  padding: 0px !important;
}

#forward-button:hover:not([disabled]) .toolbarbutton-icon {
  list-style-image: url("res/Hover/Forward.ico") !important;
}

#forward-button[disabled] .toolbarbutton-icon {
  list-style-image: url("res/Disabled/Forward.ico") !important;
}

#reload-button {
  list-style-image: url("res/Refresh.ico") !important;
  padding: 0px !important;
}

#reload-button:hover:not([disabled]) {
  list-style-image: url("res/Hover/Refresh.ico") !important;
}

#stop-button {
  list-style-image: url("res/Stop.ico") !important;
  padding: 0px !important;
}

#stop-button:hover:not([disabled]) {
  list-style-image: url("res/Hover/Stop.ico") !important;
}

#cut-button {
  list-style-image: url("res/Cut.ico") !important;
  padding: 0px !important;
}

#cut-button:hover:not([disabled]) {
  list-style-image: url("res/Hover/Cut.ico") !important;
}

#copy-button {
  list-style-image: url("res/Copy.ico") !important;
  padding: 0px !important;
}

#copy-button:hover:not([disabled]) {
  list-style-image: url("res/Hover/Copy.ico") !important;
}

#paste-button {
  list-style-image: url("res/Paste.ico") !important;
  padding: 0px !important;
}

#paste-button:hover:not([disabled]) {
  list-style-image: url("res/Hover/Paste.ico") !important;
}

#home-button {
  list-style-image: url("res/Home.ico") !important;
  padding: 0px !important;
}

#home-button:hover:not([disabled]) {
  list-style-image: url("res/Hover/Home.ico") !important;
}

#print-button {
  list-style-image: url("res/Print.ico") !important;
  padding: 0px !important;
}

#print-button:hover:not([disabled]) {
  list-style-image: url("res/Hover/Print.ico") !important;
}


#bookmarks-menu-button {
  list-style-image: url("res/Favorites.ico") !important;
  padding: 0px !important;
}

#bookmarks-menu-button:hover:not([disabled]) {
  list-style-image: url("res/Hover/Favorites.ico") !important;
}

#sidebar-button {
  list-style-image: url("res/View.ico") !important;
  padding: 0px !important;
}

#sidebar-button:hover:not([disabled]) {
  list-style-image: url("res/Hover/View.ico") !important;
}

#library-button {
  list-style-image: url("res/Folders.ico") !important;
  padding: 0px !important;
}

#library-button:hover:not([disabled]) {
  list-style-image: url("res/Hover/Folders.ico") !important;
}

#find-button {
  list-style-image: url("res/Find.ico") !important;
  padding: 0px !important;
}

#find-button:hover:not([disabled]) {
  list-style-image: url("res/Hover/Find.ico") !important;
}

#back-button .toolbarbutton-text {
  display: inline !important;
}

#sidebar-button .toolbarbutton-text {
  display: inline !important;
}

#library-button .toolbarbutton-text {
  display: inline !important;
}

#find-button .toolbarbutton-text {
  display: inline !important;
}