/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

#back-button .toolbarbutton-icon {
  list-style-image: url("res/Back.ico");
  padding: 0px !important;
}

#back-button:hover:not([disabled]) .toolbarbutton-icon {
  list-style-image: url("res/Hover/Back.ico") !important;
}

#back-button[disabled] .toolbarbutton-icon {
  list-style-image: url("res/Disabled/Back.ico") !important;
}

#forward-button .toolbarbutton-icon {
  list-style-image: url("res/Forward.ico");
  padding: 0px !important;
}

#forward-button:hover:not([disabled]) .toolbarbutton-icon {
  list-style-image: url("res/Hover/Forward.ico") !important;
}

#forward-button[disabled] .toolbarbutton-icon {
  list-style-image: url("res/Disabled/Forward.ico") !important;
}

#back-button .toolbarbutton-text {
  display: inline !important;
}

#sidebar-button .toolbarbutton-text {
  display: inline !important;
}

#library-button .toolbarbutton-text {
  display: inline !important;
}

#find-button .toolbarbutton-text {
  display: inline !important;
}