#TabsToolbar {                                                                                             
  -moz-appearance: unset !important;
  display:block !important;     
  background: transparent !important;
}

#window-controls {
  display: none;
}

#TabsToolbar .private-browsing-indicator{
  display:none !important;
}

#tabbrowser-tabs {
  width: 100vw !important;
}

/* Modify to change window drag space width */
:root[tabsintitlebar="true"] #nav-bar{ --window-drag-space-width: 24px }

.titlebar-buttonbox-container{
  position: fixed;
  top:0;
  right:0;
  height: 40px;
display:block !important;
}
#toolbar-menubar[inactive] > .titlebar-buttonbox-container{ opacity: 0 }

:root[sizemode="maximized"] > #navigator-toolbox{ padding-top: 8px !important; }
:root[sizemode="maximized"] .titlebar-buttonbox-container{ top: 8px }

:root[uidensity="compact"] .titlebar-buttonbox-container{ height: 32px }
.titlebar-buttonbox-container > .titlebar-buttonbox{ height: 100%; }
#titlebar{
 -moz-box-ordinal-group: 2;
  -moz-appearance: none !important;
  display:block !important;
}
:root[tabsintitlebar="true"] #nav-bar{
  padding-right: calc(138px + var(--window-drag-space-width,0px));
  padding-left: var(--window-drag-space-width,0px)
}
.titlebar-placeholder,
#TabsToolbar .titlebar-spacer{ display: none; }
/* Also hide the toolbox bottom border which isn't at bottom with this setup */
#navigator-toolbox::after{ display: none !important; }

/* Menubar on top patch - use with Fx65_tabs_on_bottom.css */
/* Only really useful if menubar is ALWAYS visible */

#main-window:not([sizemode="fullscreen"]) #navigator-toolbox{
  margin-top: 20px;
  padding-top: 10px !important;
}

#toolbar-menubar{
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: 10px;
  padding-top: 2.5px !important;
  width: 100%;
  overflow: hidden;
  display:block !important;
}

/* remove default tab colors */
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"],
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab, .tabbrowser-tab, .tab-content {
   border: unset !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab, .tabbrowser-tab,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] {
   border: 1px solid #505050 !important;
   border-bottom: none !important;
   padding: 0 !important;
   margin-left: 0 !important;
   margin-right: 0px !important;
   min-width: 175px !important;
   padding-top: 1px !important;
   padding-right: 0px !important;
   padding-left: 2px !important;
   padding-bottom: 0 !important;
   border: 2 2 0 2 !important;
   border-image: url("image/button.png") !important;
   border-image-width: 2px 2px 0px 2px !important;
   border-image-slice: 2 2 0 2 !important;
   margin-right: -1px;
   margin-left: 0 !important;
   max-height: 26px !important;
}

.tab-content {
   border: unset !important
   color: #fff !important;
   background-image: linear-gradient(#ffc5c8, #d4d0c8) !important; }

.tab-content:hover {
   background-image: linear-gradient(#fac67e, #d4d0c8) !important;
}

.tab-content[selected="true"] {
   /*color: #fff !important;*/
   max-height: 24px !important;

   background-image: linear-gradient(#99bae2, #d4d0c8) !important;
   /*background-image: linear-gradient(#99bae2, #2c458b) !important;*/
}

.tab-content[selected="true"]:hover {
   /*color: #fff !important;*/
   background-image: linear-gradient(#9fccdf, #d4d0c8) !important;
}

#tabs-newtab-button {
   margin-bottom: 0 !important;
   margin-top: 0 !important;
   margin-left: 0 !important;
   margin-right: 2px !important;
   padding: 0px !important;
   border: 2 2 0 2 !important;
   border-image: url("image/button.png") !important;
   border-image-width: 2px 2px 0px 2px !important;
   border-image-slice: 2 2 0 2 !important;
   border-bottom: none !important;
   max-height: 26px !important;
}

#tabs-newtab-button:hover {
   background-image: linear-gradient(#9fccdf, #d4d0c8) !important;
}

spacer[part=overflow-start-indicator], 
spacer[part=overflow-end-indicator] {
  display: none !important; }

.tab-icon-image {
   margin-top: -1px !important;
   margin-left: -5px !important;
   margin-right: 3px !important;
}

/*
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:not([pinned]) .tab-close-button {
  visibility: visible !important;
  display: block !important;
}
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:not([pinned])[faviconized="true"] .tab-close-button {
  visibility: collapse !important;
  display: none !important;
}

*/
